@font-face {
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 400;
  font-display:swap;
  src: url("../fonts/playfair-display-v21-latin_cyrillic-regular.woff2") format("woff2"),
       url("../fonts/playfair-display-v21-latin_cyrillic-regular.woff") format("woff");
}

@font-face {
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 700;
  font-display:swap;
  src: url("../fonts/playfair-display-v21-latin_cyrillic-700.woff2") format("woff2"),
       url("../fonts/playfair-display-v21-latin_cyrillic-700.woff") format("woff");
}

@font-face {
  font-family: "Playfair Display";
  font-style: italic;
  font-weight: 700;
  font-display:swap;
  src: url("../fonts/playfair-display-v21-latin_cyrillic-700italic.woff2") format("woff2"),
       url("../fonts/playfair-display-v21-latin_cyrillic-700italic.woff") format("woff");
}
@font-face {
  font-family: "Pacifico";
  font-style: normal;
  font-weight: 400;
  font-display:swap;
  src: url("../fonts/pacifico-v17-latin_cyrillic-regular.woff2") format("woff2"),
       url("../fonts/pacifico-v17-latin_cyrillic-regular.woff") format("woff");
}

@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  font-display:swap;
  src: url("../fonts/rubik-v11-latin_cyrillic-regular.woff2") format("woff2"),
       url("../fonts/rubik-v11-latin_cyrillic-regular.woff") format("woff");
}

@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  font-display:swap;
  src: url("../fonts/rubik-v11-latin_cyrillic-700.woff2") format("woff2"),
       url("../fonts/rubik-v11-latin_cyrillic-700.woff") format("woff");
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  padding: 0;
  margin: 0;
  font-family: "Rubik","Arial", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  background-color: #fbebea;
  color: #2d2829;
  background-image: url("../img/hero-img.png");
  background-repeat: no-repeat;
  background-position: calc(50% + 350px) 105px;
  overflow-x: hidden;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  max-width: 1260px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}
.site-header{
  padding: 60px 0;
}
.site-header__container{
  display: flex;
  align-items: center;
}
.site-nav{
  display: flex;
  align-items: center;
}
.logo{
  margin-right: 25px;
}
.logo__img{
  width: 67px;
  height: 18px;
}
.site-nav__list{
 display: flex;
 align-items: center;
 margin: 0;
 padding: 0;
 list-style-type: none;
}
.site-nav__item{
margin-right: 22px;
margin-left: 22px;
}
.site-nav__link{
  text-decoration: none;
  font-size: 13px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: 26.66px;
  text-transform: uppercase;
  color: #2d2829;
}
.site-nav__item--active .site-nav__link{
  color: #f50049;
}
.tel-link{
  text-decoration: none;
  color: #2d2829;
  font-size: 15px;
  font-weight: 700;
  margin-left: auto;
}
/* HERO */
/* .site-main{

} */
.hero-section{
padding-top: 102px;
padding-bottom: 102px;
}
.hero-section__info-wrapper{
 width: 468px;
}
.hero-section__heading{
  margin-top: 0;
  margin-bottom: 31px;
  width: 353px;
  color: #2e2829;
 font-family: "Playfair Display","Times New Roman", serif;
 font-size: 78px;
 font-weight: 700;
 line-height: 70px;
font-style: normal;
letter-spacing:normal;
line-height: normal;
}
.hero-section__text{
  margin-top: 0;
  margin-bottom: 58px;
  color: #32313d;
  font-family: "Pacifico", cursive;
  font-size: 41px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: 77.95px;
}
.hero-section__info-bottom{
 display: inline-flex;
 align-items: center;
}
.hero-section__about{
  margin: 0;
  display: inline-flex;
  align-items: center;
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: 18px;
  width: 250px;
  /* padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 70px;
  background-position: left top;
  background-size: 55px 55xp;
  background-repeat: no-repeat; */
}
/* .hero-section__about--ing{
  width: 200px;
  background-image: url("../img/hero-icon.png");
  margin-right: 70px;
}
.hero-section__about--order{
  width: 250px;
  background-image: url("../img/gift.png");
} */
 .hero-section__about::before{
   display: block;
  min-width: 55px;
  height: 55px;
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
  margin-right: 12px;
  content: "";
}
.hero-section__about--ing::before{
  background-image: url("../img/hero-icon.png");
}
.hero-section__about--order::before{
  background-image: url("../img/gift.png");
}
.button{
  display: inline-flex;
  vertical-align: baseline;
  padding: 13px 66px;
  text-decoration: none;
  color: #fff;
  background-color: #f50049;
  border-radius: 26px;
  font-size: 13px;
  font-weight: 400;
  line-height: 26.73px;
  text-transform: uppercase;
  margin-bottom: 128px;
}

/* clients */
.clients{
  padding-top: 100px;
  padding-bottom: 100px;
  background-image: url("../img/flag.png");
 background-position: center top;
 background-size: contain;
 background-repeat: no-repeat;
}
.clients__heading{
  font-family: "Playfair Display","Times New Roman", serif;
  color: #2d2829;
  font-size: 40px;
  font-weight: 700;
  line-height: 65.96px;
  text-align: center;
  margin-top: 0;
  margin-bottom: 64px;
}
.clients__container{
  display: flex;
  align-items: center;
  width: 841px;
  margin-left: auto;
  margin-right: auto;
}
.clients__button{
 background-color: transparent;
 border: none;
 cursor: pointer;
}
.clients__button--prev{
 margin-right: 100px;
}
.clients__button--next{
  order: 1;
}
.clients__button-img{
display: block;
width: 9px;
height: 16px;
}
.clients__list{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  margin: 0;
  list-style-type: none;
}
.clients__item{
  display: flex;
  align-items: center;
}
.client::before{
  display: block;
  min-width: 209px;
  height: 209px;
  background-image: url("../img/maria.png");
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
  content: "";
  margin-right: 54px;
}
.client__name{
  margin-top: 0;
  margin-bottom: 8px;
  font-size: 27px;
  font-weight: 700;
  font-style: normal;
  letter-spacing: normal;
  line-height: 24px;
}
.client__about{
  margin-top: 0;
  margin-bottom: 27px;
  font-size: 20px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: 24px;
}
.client__comment{
  margin: 0;
  font-size: 15px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: 24.56px;
  width: 353px;
}
.button-more{
 background-color: transparent;
 border: none;
 color: #f50049;
 border-bottom:1px solid #f50049;
 font-style: italic;
 margin-left: 15px;
 cursor: pointer;
}
.slider{
  align-self:flex-end;
  margin-left: auto;
  color: #f50049;
}
.slider__number{

}
/* About us */
.about-us{
padding-top: 100px;
padding-bottom: 100px;
}
.about-us__container{
  display: flex;
  align-items: center;
}
.about-us__heading{
  font-family: "Playfair Display","Times New Roman", serif;
  color: #2d2829;
  font-size: 40px;
  font-weight: 700;
  line-height: 65.96px;
  margin-top: 0;
  margin-bottom: 0px;
}
.about-us__info{
width: 552px;
}
.info{

}
.info__heading{
  margin-top: 0;
  margin-bottom: 9px;
  font-family: "Pacifico", cursive;
  font-size: 30px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: 77.95px;
}
.info__main-text{
  margin-top: 0;
  margin-bottom: 13px;
  font-size: 18px;
  font-weight: 700;
  font-style: normal;
  letter-spacing: normal;
  line-height: 27px;
}
.info__text{
margin-top: 0;
margin-bottom: 26px;
font-size: 16px;
font-weight: 400;
font-style: normal;
letter-spacing: normal;
line-height: 24px;
}

.socials-list{
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.socials-list__item + .socials-list__item{
  margin-left: 17px;
}
.social{

}
.social__link{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 36px;
  height: 36px;
  background-color: #fff;
  border-radius: 50%;

}
.social__img{
  display: block;
}
.social__img--inst{
  width: 18px;
  height: 18px;
}
.social__img--vk{
  width: 25px;
  height: 17px;
}
.social__img--tw{
  width: 19px;
  height: 16px;
}
.about-us__img{
  display: block;
  width: 510px;
  height: 510px;
  border-radius: 50%;
  margin-left: auto;
}
.contacts{
  padding-top: 50px;
  padding-bottom: 300px;
  background-image: url("../img/strb-removebg-preview.png");
  background-position: calc(50% + 350px) bottom;
  background-repeat: no-repeat;
  background-size:  954px 636px;
}
.contacts__heading{
  margin-top: 0;
  margin-bottom:10px;
  font-family: "Playfair Display","Times New Roman", serif;
  font-size: 40px;
  font-weight: 700;
  font-style: normal;
  letter-spacing: normal;
  line-height: 38.8px;
}
.contacts__container{
display: flex;
align-items: center;
}
.contacts__main-text{
  margin-top: 0;
  margin-bottom: 10px;
  font-family: "Pacifico", cursive;
  font-size: 30px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: 77.95px;
}
.contacts__text{
  font-size: 18px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: 24px;
}
.contacts__form{
  display: flex;
  flex-direction: column;
}
.contacts__input{
  padding-top: 40px;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #c9bcbb;
}
.contacts__input:focus{
  outline: none;
  border-bottom: 1px solid #32313d;
}
::placeholder{
  font-size: 14px;
font-weight: 400;
font-style: normal;
letter-spacing: normal;
line-height: 24px;
}
.contacts__button{
  margin-top: 80px;
  padding: 13px 66px;
  text-decoration: none;
  color: #fff;
  background-color: #f50049;
  border-radius: 26px;
  font-size: 13px;
  font-weight: 400;
  line-height: 26.73px;
  text-transform: capitalize;
  border: none;
  align-self: start;
}
.contacts-wrapper--right{
  display: flex;
  flex-direction: column;
  margin-left: 100px;
}
.contacts__contact{
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: 24px;
}
.contacts__link{
  text-decoration: none;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: 24px;
  color: #2d2829;
}
.contacts__socials-list{
  display: flex;
  padding: 0;
  margin: 0;
  list-style-type: none;

}
.contacts__socials-item + .contacts__socials-item{
  margin-left: 30px;
}
.contacts__socials-link{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  border-radius: 50%;
  width: 63px;
  height: 63px;

}
.contacts__socials-img{
display: block;
}
.contacts__socials-img--inst{
width: 28px;
height: 28px;
}
.contacts__socials-img--vk{
width: 41px;
height: 29px;
}




























































@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx) {

  .hero-section__about--ing{
    background-image: url("../img/hero-icon@2x.png")
  }
  .hero-section__about--order{
    background-image: url("../img/gift@2x.png");
  }

}